<<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>



    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Misson to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <section id="Mars_News">
                            <section id="figure">
                                <h2 id="table_name">Latest Mars News</h2>
                                <h3>{{ planet.news_title }}</h3>
                                <p>{{ planet.news_p }}</p>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="container-fluid">
                            <section id="Mars_Image">
                                <section id="figure">
                                    <h2 id="table_name">Featured Mars Image</h2>
                                    <hr>
                                    <img src="{{planet.mars_img}}" alt="ack" width="75%">
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-fluid">
                        <section id="Mars_Facts">
                            <section id="figure">
                                <h2 id="table_name">Mars Facts</h2>
                                {{ planet.facts_table|safe }}
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <section id="Mars_Hemispheres">
                        <section id="figure">
                            <h2 id="table_name">Mars Hemispheres</h2>
                            <div class="row row-cols-1 row-cols-md-4">
                                {% for hem_dic in planet.hem_img_urls %}
                                <div class="col mb-4">
                                    <div class="card" style="width: 20rem;">
                                        <div class="card-body">
                                            <img src="{{ hem_dic.url}}" class="card-img-top" alt="ack">
                                            <h4 class="card-title">{{ hem_dic.title }}</h4>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </body>

    </html>